version: "3.8"

services:
  identifier:
    image: semtech/mu-identifier:1.9.1
    links:
      - dispatcher:dispatcher
    ports:
      - "80:80"
  dispatcher:
    image: semtech/mu-dispatcher:2.1.0-beta.1
    links:
      - resource:resource
    volumes:
      - ./config/dispatcher:/config
  virtuoso:
    image: tenforce/virtuoso:1.3.2-virtuoso7.2.2
    environment:
      SPARQL_UPDATE: "true"
      DEFAULT_GRAPH: "http://mu.semte.ch/application"
    ports:
      - "8890:8890"
    volumes:
      - ./data/db:/data
      - ./config/virtuoso/virtuoso.ini:/data/virtuoso.ini
  migrations:
    image: semtech/mu-migrations-service:0.7.0
    links:
      - virtuoso:database
    volumes:
      - ./config/migrations:/data/migrations
    restart: always
  resource:
    image: semtech/mu-cl-resources:1.20.0
    links:
      - virtuoso:database
    volumes:
      - ./config/resources:/config
  file:
    image: semtech/mu-file-service:3.2.0
    links:
      - database:database
    volumes:
      - ./data/files:/share
  registration:
    image: semtech/mu-registration-service:2.6.0
    links:
      - virtuoso:database
  login:
    image: semtech/mu-login-service:2.9.0
    links:
      - virtuoso:database
